<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="LOG_FILE_ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:\Workplace\Poptok\Log\Admin\out.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_PATH_NAME}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 50MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-6level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.poptok.admin" level="debug" additivity="false">
		<appender-ref ref="LOG_FILE_ROLLING" />
	</logger>

	<!-- 루트(글로벌) 로거 -->
	<root level="info">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>